.navbar {
    position: fixed;
    top: 0;
    z-index: 150;
    display: flex;
    align-items: center;
    height: 6.8rem;
    width: 100%;
    padding: 0 6rem;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    transition: .5s;

    &__logo {
        height: auto;
        margin-right: 2.5rem;
    }

    &__logo-image {
        display: block;
        width: 9.2rem;
        height: auto;
    }

    &__link-container {
        display: flex;
        list-style: none;
        margin-right: auto;
    }

    &__profile-container {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            .navbar__profile-arrow-icon {
                rotate: 180deg;
            }

            .settings-dropdown {
                display: block;
            }
        }
    }

    &__profile-icon {
        width: 3.2rem;
        height: 3.2rem;
        background-color: #333;
        margin-right: .2rem;
        border-radius: .4rem;
    }

    &__profile-arrow-icon {
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: .5rem .5rem 0;
        height: 0;
        margin-left: 1rem;
        transition: .25s;
        width: 0;
    }
}

.menu-link {
    margin-left: 2rem;
    font-size: 1.4rem;

    &__link {
        color: inherit;
        transition: 0.4s;
        text-decoration: none;

        &:hover {
            color: #b3b3b3;
        }
    }
}

.settings-dropdown {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 22rem;

    &__arrow-icon {
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: .7rem .7rem 0;
        height: 0;
        margin-left: auto;
        margin-right: 3.1rem;
        margin-top: 1.1rem;
        transition: .25s;
        width: 0;
        rotate: 180deg;
        margin-bottom: .1rem;
    }

    &__content {
        background-color: #0c0c0c;
    }
    
    &__profiles-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 .5rem;
        list-style: none;
    }

    &__profile-item {
        width: 100%;
    }

    &__profile-button {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.3rem;
        padding: .5rem 1rem;
        background: none;
        outline: none;
        border: none;
        color: inherit;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__profile-icon {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 1rem;
        border-radius: .4rem;
    }

    &__manage-profiles-link {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        padding: .5rem 1.4rem;
        margin-bottom: 1rem;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__pencil-icon {
        margin-right: 1.5rem;
    }

    &__logout-button {
        font-size: 1.3rem;
        width: 100%;
        padding: 1.5rem 1rem;
        color: #fff;
        background: none;
        outline: none;
        border: none;
        border-top: 1px solid hsla(0,0%,100%,.25);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}