.control-bar {
    position: absolute;
    bottom: 0;
    width: 100%;

    &__scrub-container {
        display: flex;
        align-items: center;
        height: 3rem;
        width: 100%;
        padding: 0 2rem;
    }

    &__time {
        margin-left: 1rem;
    }

    &__options-container {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 2.7rem 2rem 3.8rem;
    }

    &__item {
        width: 4.4rem;
        height: 4.4rem;

        &:not(:last-child) {
            margin-right: 3.8rem;
        }
    }
    
    &__button {
        outline: none;
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:hover {
            .control-bar__icon {
                scale: 1.4;
            }
        }
    }
    
    &__icon {
        width: 100%;
        height: 100%;
        transition: 0.1s;
    }

    &__video-title {
        font-size: 2rem;
        margin: 0 auto;
        cursor: default;
    }

    &__playback-speed-button {
        position: relative;

        &:hover {
            .playback-speed {
                display: block;
            }
        }
    }
}

.scrubber {
    position: relative;
    height: 0.5rem;
    flex: 1;
    background-color: grey;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
        height: .7rem;
    }

    &__played {
        position: absolute;
        left: 0;
        height: 100%;
        background-color: #ff0000;;
    }

    &__thumb {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        transform: translateX(-50%);
        background-color: #ff0000;;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 10rem;
    }
}

.playback-speed {
    display: none;
    width: 84rem;
    position: absolute;
    top: 0;
    right: -9.5rem;
    transform: translateY(-100%);
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;

    &__content {
        background-color: #262626;
        padding: 2.5rem 3rem;
    }

    &__title {
        text-wrap: nowrap;
        text-align: start;
        margin-bottom: 2rem;
    }

    &__options-container {
        display: flex;
        list-style-type: none;
    }

    &__option {
        flex: 1 0 10%;
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        font-weight: 500;

        &.first, &.last {
            flex: 1 0 0;
        }

        &.active {
            font-weight: 700;
        }
    }

    &__option-line {
        position: relative;
        border-top: solid 1px #fff;
        font-size: 2.5rem;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &.first {
            justify-content: flex-start;
        }

        &.last {
            justify-content: flex-end;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        border-radius: 10rem;
        height: 1.5rem;
        width: 1.5rem;

        &.first {
            transform: translate(-30%, -50%);
        }

        &.last {
            transform: translate(30%, -50%);
        }

        &.active {
            height: 4.5rem;
            width: auto;
        }
    }

    &__padding {
        width: 100%;
        height: 2rem;
        background-color: transparent;
    }
}
