.control-bar {
    position: absolute;
    bottom: 0;
    width: 100%;

    &__scrub-container {
        display: flex;
        align-items: center;
        height: 3rem;
        width: 100%;
        padding: 0 2rem;
    }

    &__scrubber {
        height: 0.5rem;
        flex: 1;
        background-color: grey;
    }

    &__time {
        margin-left: 1rem;
    }

    &__options-container {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 2.7rem 2rem 3.8rem;
    }

    &__item {
        width: 4.4rem;
        height: 4.4rem;

        &:not(:last-child) {
            margin-right: 3.8rem;
        }
    }
    
    &__button {
        outline: none;
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:hover {
            .control-bar__icon {
                scale: 1.4;
            }
        }
    }
    
    &__icon {
        width: 100%;
        height: 100%;
        transition: 0.1s;
    }

    &__volume-button {
        position: relative;

        &:hover {
            .control-bar__volume-container {
                display: flex;
            }
        }
    }

    &__volume-container {
        box-sizing: content-box;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 4rem;
        border-radius: .4rem;
    }

    &__volume-background {
        background-color: rgb(38, 38, 38);
        padding: 2rem 0;
        border-radius: inherit;
    }

    &__volume-slider {
        writing-mode: vertical-lr;
        accent-color: #ff0000;
        width: 100%;
        cursor: pointer;
    }

    &__volume-padding {
        height: 3rem;
        background-color: transparent;
    }

    &__video-title {
        font-size: 2rem;
        margin: 0 auto;
        cursor: default;
    }
}
