.card {
    position: relative;
    flex: 0 0 15.62%;
    display: block;
    width: 16.66%;
    margin: 0 0.2vw;
    border-radius: .2vw;
    cursor: pointer;

    &__title {
        position: absolute;
        bottom: 0;
        left: .6vw;
        font-size: 1.1vw;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: inherit;
    }

    &__gradient {
        position: absolute;
        bottom: 0;
        height: 25%;
        width: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(20,20,20,0.75) 100%);
    }
}