.card {
    flex: 0 0 15.62%;
    display: block;
    width: 16.66%;
    margin: 0 0.2vw;
    cursor: pointer;

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }
}