.card {
    flex: 0 0 16.66666667%;
    display: block;
    width: 16.66%;
    aspect-ratio: 1.73;
    background-color: orangered;
    // Change this to padding when images are uploaded
    margin-right: 0.2vw;
}